#gweene {
    color: rgb(73, 255, 73);
}
#palpha {
    color: rgb(77, 207, 247);
}
#itesla {
    color: pink;
}
#badguys {
    color: red;
}
#alloit {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
html, body {
    height: 100%;
    margin: 0;
}
#gradier {
  /* Define the gradient and its size */
  background: linear-gradient(-45deg, #28d654, #17c500, #07923c, #81ce63);
  background-size: 400% 400%; /* Stretches the gradient to allow movement */
  /* Apply the animation */
  animation: gradient 10s ease infinite;
}
#bigboi {
    height: 500;
    width: 500;
    margin-left: 50;
    margin-right: 50;
}
.slider {
    width: 100%;
    overflow: hidden;
   
}
.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: slide 10s infinite
}
.slider figure img {
    width: 20%;
    float: left;
}

@keyframes slide {
     0% { left: 100; }
      25% { left: -33%; }
      50% { left: -99%; }
      75% { left: -149%; }
      100% { left: 9%; } /* (Number of images - 1) * -100% */
}
/* Define the animation keyframes */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
